[Unit]
Description=RubyRunner Service
Requires=docker.socket
After=docker.socket

[Service]
ExecStartPre=/bin/sh -c "docker history codaisseur/rubyrunner:latest >/dev/null 2>&1 || docker pull codaisseur/rubyrunner:latest"
ExecStartPre=/bin/sh -c "docker inspect rubyrunner >/dev/null 2>&1 && docker rm -f rubyrunner || true"
ExecStart=/usr/bin/docker run -P --publish=8787:8787 --name=rubyrunner codaisseur/rubyrunner:latest
ExecStopPost=-/usr/bin/docker rm -f rubyrunner
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
